*{
margin:0;
padding:0;
}
body{
background-color:#9FE2BF;
}
h1{
font-weight:bold;
text-decoration:underline;
text-align:center;
margin-top:20px;
}
.main{
display:flex;
align-item:center;
justify-content:center;
width:100%;
margin-top:300px;
padding:10px;

}

.load{
text-align:center;
width:20px;
font-weight:bold;
padding:10px;
background-color:black;
color:white;
border:2px solid white;
border-radius:50%;
box-shadow:5px 5px 10px black;
margin:3px;
animation:animate 1.5s ease-in-out  infinite;
}

@keyframes animate{
0%{
transform:translateY(0px);
}
50%{
transform:translateY(-50px);
}

100%{
transform:translateY(0px);
}
}

.load:nth-child(1){
animation-delay:0.6s;
}
.load:nth-child(2){
animation-delay:0.4s;
}
.load:nth-child(3){
animation-delay:0.2s;
}
.load:nth-child(4){
animation-delay:.1s;
}
.load:nth-child(5){
animation-delay:.15s;
}
.load:nth-child(6){
animation-delay:.3s;
}
.load:nth-child(7){
animation-delay:.5s;
}
